ion-content {
    --background: linear-gradient(180deg, rgb(233, 145, 145), rgb(168, 168, 76));
  }
  ion-toolbar{
    --background: linear-gradient(180deg, rgb(233, 145, 145), rgb(168, 168, 76));
  }
  ion-item{
    --background: transparent;
  }
  ion-input{
    background-color: transparent;
  }

  ion-list
  {
    background-color: transparent;
  }
  .ion{
    color: rgb(245, 187, 40);
}