<ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">View Resturant</ion-title>
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="resturantsearch"></ion-back-button>
      </ion-buttons>
      <ion-button slot="end" (click)="menu()"  color="success">
        Show Menu
      </ion-button>
     
    </ion-toolbar>
  </ion-header>

  <h1 *ngIf="value == '3'" class="ion">
    {{this.click3rd(value)}} 
    <ion-icon  size="large" color="{{c1}}" readonly type="text" name="{{n1}}"></ion-icon>
    <ion-icon size="large" color="{{c2}}" readonly type="text"  name="{{n2}}"></ion-icon>
    <ion-icon size="large" color="{{c3}}" readonly type="text" name="{{n3}}"></ion-icon>
    <ion-icon size="large" color="{{c4}}" readonly type="text"  name="{{n4}}"></ion-icon>
    
  </h1>
  
    
    <h1 *ngIf="value == '2'" class="ion">
      {{this.click2nd(value)}} 
      <ion-icon size="large" color="{{c1}}" readonly type="text" name="{{n1}}"></ion-icon>
      <ion-icon size="large" color="{{c2}}" readonly type="text"  name="{{n2}}"></ion-icon>
      <ion-icon size="large" color="{{c3}}" readonly type="text" name="{{n3}}"></ion-icon>
      <ion-icon size="large" color="{{c4}}" readonly type="text"  name="{{n4}}"></ion-icon>
      
    </h1>
    <h1 *ngIf="value == '4'" class="ion">
      {{this.clickForth(value)}} 
      <ion-icon size="large" color="{{c1}}" readonly type="text" name="{{n1}}"></ion-icon>
      <ion-icon size="large" color="{{c2}}" readonly type="text"  name="{{n2}}"></ion-icon>
      <ion-icon size="large" color="{{c3}}" readonly type="text" name="{{n3}}"></ion-icon>
      <ion-icon size="large" color="{{c4}}" readonly type="text"  name="{{n4}}"></ion-icon>
      
    </h1>
  
  
    
  

  <ion-content text-justify="top">
    <form [formGroup]="form">
      <ion-grid>
        <ion-row color="justify-content-center">
          <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
            
            <div class="ion-padding">
                <label class="ion-text-lg-center" igxLabel for="firstname">Resturant Name:</label> 
                <br>
            
              <ion-item>
                  <ion-input name="firstname" formControlName="name"  readonly type="text" placeholder="Enter your name"></ion-input>
  
                </ion-item>

                <label class="ion-text-lg-center" igxLabel for="firstname">opening:</label> 
                <br>
                <ion-item>
                  <ion-datetime displayFormat="hh-mm-A" readonly type="text" formControlName="open" placeholder="opening Time"></ion-datetime>
                    </ion-item>
                    <br>
                    <label class="ion-text-lg-center" igxLabel for="firstname">closing:</label> 
                <br>
                   <ion-item>
                    <ion-datetime displayFormat="hh-mm-A" readonly type="text" formControlName="close" placeholder="closing Time"></ion-datetime>
                 </ion-item>

                <br>
                <label class="ion-text-lg-center" igxLabel for="number">Contact:</label>
                <br> 
              <ion-item>
                <ion-input name="text" formControlName="number"  readonly type="number" placeholder="Enter your phone number"></ion-input>
              </ion-item>
              <br>
              <label class="ion-text-lg-center" igxLabel for="Location">Adress:</label> 
              <br>
              <ion-item>
                <ion-input name="text" formControlName="Location"   readonly type="text" placeholder="Enter location"></ion-input>
              </ion-item>
              <br>
              <label class="ion-text-lg-center" igxLabel for="Location">City:</label> 
              <br>
              <ion-item>
                <ion-input name="text" formControlName="city"   readonly type="text" placeholder="city"></ion-input>
              </ion-item>
            </div>

  
            <br>
              <label class="ion-text-lg-center" igxLabel for="about">About Resturant:</label> 
              <br>
              <ion-item>
                <ion-textarea rows="5" cols="5" readonly type="text" formControlName="about" type="text" placeholder="About Resturant..."></ion-textarea>
              </ion-item>


            <div class="ion-padding">
              
               
  
            <ion-row >
                <ion-card  class="card-center">
               
                    <ion-card-content  *ngFor="let image of images" >
                      
                        <img src= {{image}}>
                        
                      </ion-card-content>
                   </ion-card>
                  
            </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <br>
<br>
<div>
  <ion-button slot="end" (click)="Review(this.data)" color="success">
   Add Reviews
  </ion-button>
</div>
  </ion-content>
  