.ion-text-lg-center
{
    color: brown;
}
.ion-text-lg-cente
{
      background-color: black;
}
.card-center{
    width:90%; // adjust width on your ion-card suitable on your screen
    display:block;
    margin: 0 auto;
    
    
}
.ion{
    color: rgb(245, 187, 40);
}