.welcome-card ion-img {
    max-height: 55vh;
    max-width: 90vh;
    overflow: hidden;
    justify-content: center;
  }
  .card
  {
    max-height: 55vh;
    max-width: 90vh;
  }

ion-content {
    --background: linear-gradient(180deg, rgb(233, 145, 145), rgb(168, 168, 76));
  }
  ion-toolbar{
    --background: linear-gradient(180deg, rgb(233, 145, 145), rgb(168, 168, 76));
  }
  ion-item{
    --background: transparent;
  }
  ion-list{
    background-color: transparent;
  }
  ion-card
  {
    background-color: transparent;
  }