.card-center{
    width:90%; // adjust width on your ion-card suitable on your screen
    display:block;
    margin: 0 auto;
    
    
}
.ion{
    color: rgb(245, 187, 40);
}

ion-content {
    --background: linear-gradient(180deg,  rgb(235, 142, 66), rgb(231, 50, 50));
  }
  ion-toolbar{
    --background: linear-gradient(180deg,  rgb(235, 142, 66), rgb(231, 50, 50));
  }
  ion-item{
    --background: transparent;
  }
  ion-input{
    background-color: transparent;
  }
.ion-text-lg-center
{
    color: rgb(10, 1, 1);
}