.card-center{
    width:90%; // adjust width on your ion-card suitable on your screen
    display:block;
    margin: 0 auto;
    
    
}
.ion{
    color: rgb(245, 187, 40);
}

.ion-text-lg-cente
{
      background-color: rgb(129, 172, 253);
}
.ion-text-lg-center
{
    color: rgb(10, 1, 1);
}