<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  defaultHref="gethotel"></ion-back-button>
        </ion-buttons>
    <ion-title class="ion-text-center">Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="">
  <div *ngIf="!loading">
      <ion-card class="ion-text-lg-cente">
        <ion-card-content *ngFor="let room of list" >
          <ion-list>
            <br>
            Room no:  {{room.Rooms}}
            <br>
            <br>
           Check-In:  {{room.checkin}}
           <br>
            <br>
            Check-Out:  {{room.checkout}}
          </ion-list> 
          <ion-button fill="clear" (click)="delete(room)">
            <ion-icon name="trash" slot="end"></ion-icon>
          </ion-button>      
        </ion-card-content>
      </ion-card>
  
  </div>

   <div *ngIf="loading">

    <ion-list>
      <ion-item *ngFor="let item of skeletonlist">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

    </ion-list>
  </div> 
 
</ion-content>