<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="getresturant"></ion-back-button>
    </ion-buttons>
    
    
   
    <ion-title class="ion-text-center">Add Services</ion-title>
  </ion-toolbar>
</ion-header>


<!-- <ion-card class="card-center">
<img src="\assets\icon\ppp.jpg"/>
<ion-card-content>
  <ion-card-title>
    
    </ion-card-title>
</ion-card-content>
</ion-card> -->
  

 <ion-content text-justify="top">
  <ion-card class="welcome-card">
      <ion-img src="\assets\preview.jpg"></ion-img>
    </ion-card>
    <div class="ion-text-center">
      <h3 *ngIf="!data">Add New Resturant</h3>
      <h3 *ngIf="data">Edit Resturant</h3>
    </div>
    <br>
    <br>
    <br>
    <br>
  
           <!-- <div class="s"> 
              <ion-icon name="add-circle-outline" slot="end" (click)="table()"></ion-icon>
             </div> -->
  <form [formGroup]="form">
    <ion-grid>
      <ion-row color="justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          
          <div class="ion-padding">
            <ion-item>
                <ion-input name="firstname" formControlName="name" type="text" minLength="6" maxLength="1" placeholder="Resturant name"></ion-input>
            </ion-item>
            <ion-item>
            <ion-datetime displayFormat="hh-mm-A" formControlName="open" placeholder="opening Time"></ion-datetime>
              </ion-item>
             <ion-item>
              <ion-datetime displayFormat="hh-mm-A" formControlName="close" placeholder="closing Time"></ion-datetime>
           </ion-item>
            <ion-item>
              <ion-input name="text" formControlName="number" type="tel"  minLength="11" maxLength="11"  placeholder="Contact number"></ion-input>
            </ion-item>

            <ion-row >
              <ion-col siz-sm="3" offset-sm="3">
             <app-location-picker  (locationPick)="onLocationPicked($event)"></app-location-picker>
              </ion-col>
            </ion-row>
            <ion-item>
              <ion-input name="text" readonly type="text" formControlName="Location" type="text" placeholder=" Location"></ion-input>
            </ion-item>

            <ion-item>
                 <ion-input name="text" readonly type="text" formControlName="city" type="text" placeholder=" City"></ion-input>
              </ion-item>
              <ion-item>
                <ion-textarea rows="5" cols="5" formControlName="about" type="text" placeholder="About Resturant..."></ion-textarea>
              </ion-item>  
    
          </div>
          <br> 
          <br>
          <br>
          <br>
          <div class ="container">
            <input type="file" formControlName="images" name="images" multiple (change)="selectMultipleImage($event)" />
            <br>
            <br>
            <br>
            <ion-button size="meduim" (click)="onMultipleSubmit()" color="success" type="submit"
            expand="block">Image Upload
          </ion-button>
            
          </div>
          <ion-item>
            <ion-input  type="text" readonly type="text" placeholder="w'll charge for this service 5%"></ion-input>
            I agree <ion-checkbox formControlName="check" color="primary"  ></ion-checkbox>
            </ion-item>
          <div class="ion-padding">
            <h3 *ngIf="!data">
            <ion-button size="large" [disabled]="form.invalid" (click)="addNew()" color="primary" type="submit"
            expand="block">SAVE ! &nbsp;
            <ion-spinner *ngIf="loading">
            </ion-spinner>
          </ion-button>
        </h3>

        <h3 *ngIf="data">
          <ion-button size="large"  (click)="updateresturant()" color="primary" type="submit"
          expand="block">SAVE ! &nbsp;
          <ion-spinner *ngIf="loading">
          </ion-spinner>
        </ion-button>
      </h3>
          
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
