<ion-header>
  <ion-toolbar>
    <ion-title>showmenu</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="viewresturant"></ion-back-button>
    </ion-buttons>
  
      <ion-button slot="end" (click)="table()"  color="success">
        Show Tables
        </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="ion-text-lg-cente">
    <ion-card-header>
     <ion-card-title  class="ion-text-lg-center">Breakfast</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngFor="let data of brek">
      <ion-list>
        <ion-text class="color">
      dish: {{data.dish}}
    </ion-text>
       <br>
       <ion-text class="color">
      price: {{data.price}}
      
    </ion-text>
      </ion-list>        
    </ion-card-content>
  </ion-card> 
<br>
<br>
  <ion-card class="ion-text-lg-cente">
      <ion-card-header>
       <ion-card-title  class="ion-text-lg-center">Launch</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngFor="let data of launh">
        <ion-list>
        dish: {{data.dish}}
         <br>
        price: {{data.price}}
        </ion-list>        
      </ion-card-content>
    </ion-card>

    <br>
    <br>
    <ion-card class="ion-text-lg-cente">
        <ion-card-header>
         <ion-card-title  class="ion-text-lg-center">Dinner</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngFor="let data of dnner">
          <ion-list>
          dish: {{data.dish}}
             <br>
          price: {{data.price}}
          </ion-list>        
        </ion-card-content>
      </ion-card>
  </ion-content>
