.ion-text-lg-center
{
    color: rgb(10, 1, 1);
}
.ion-text-lg-cente
{
      background-color: rgb(129, 172, 253);
}

.cc
{
    color: springgreen;
}
.ion
{
    color: rgb(10, 1, 1);
}
ion-content {
    --background: linear-gradient(180deg,  rgb(235, 142, 66), rgb(231, 50, 50));
  }
  ion-toolbar{
    --background: linear-gradient(180deg,  rgb(235, 142, 66), rgb(231, 50, 50));
  }
  ion-item{
    --background: transparent;
  }
  ion-input{
    background-color: transparent;
  }