<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="viewhotel"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons>
    <ion-icon name="refresh-circle-outline"></ion-icon>
    </ion-buttons> -->

    <ion-title class="ion-text-center">Room details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="">


  






  <ion-card class="ion-text-lg-cente">
    <ion-card-content *ngFor="let data of info; let i = index" >
      <ion-list>
          <ion-row >
              <ion-card  class="card-center" >
             
                  <ion-card-content *ngFor="let img of data.image[0]; let i = index">
                    
                      <img src= {{img}}>
                      
                    </ion-card-content>
                 </ion-card>
                
          </ion-row>
        <br>
        Room no:  {{data.roomno}}
        <br>
        <br>
       No of Beds:  {{data.beds}}
       <br>
        <br>
        facility:  {{data.facility}}
        <br>
         <br>
      Amount:  {{data.amount}}
       
      </ion-list> 
      <ion-button (click)="reserve(i)" fill="clear">book</ion-button>       
    </ion-card-content>
  </ion-card>


  <!-- <form [formGroup]="form">
    <ion-grid>
      <ion-row color="justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">

          <div class="ion-padding">
            <ion-item>
              <ion-label>check in</ion-label>
                <ion-datetime formControlName="checkin" ></ion-datetime>
               </ion-item>
              
               <ion-item>
                <ion-label>check out</ion-label>
                  <ion-datetime formControlName="checkout"></ion-datetime>
                 </ion-item>
                 
                 
          </div>
          
          <div class="ion-padding">
            <ion-button size="large"  (click)="addNew()" color="primary" type="submit" expand="block">Book
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <br>
  <ion-button expand='block' margin (click)=" Encode()">Click to Create QR</ion-button>
    <ion-button expand='block' margin (click)="Scan()">Click to Scan QR</ion-button>
  <ion-button (click)="booked()" fill="clear">Select room</ion-button>
  <ion-list>
  <ion-item *ngFor="let rooms of room">
  <ion-label></ion-label>
    
    <ion-checkbox color="primary"  [(ngModel)]="rooms.checked" ></ion-checkbox>
    
  </ion-item>
</ion-list> -->


</ion-content>