
    ion-content.background
    {
    --background: url(../../assets/aprtment.png) 0 0/100% 100% no-repeat;
    
    
}
.ion{
    color: rgb(245, 187, 40);
}


  ion-toolbar{
    --background: linear-gradient(180deg, rgb(233, 145, 145), rgb(168, 168, 76));
  }
  ion-item{
    --background: transparent;
  }
  ion-list{
    background-color: transparent;
  }