<ion-content>
    <ion-item>
        <ion-label>MENU</ion-label>
        <ion-select [(ngModel)]="menutype" type="text"  okText="Okay" cancelText="Dismiss">
          <ion-select-option value="BreakFast">BreakFast</ion-select-option>
          <ion-select-option value="Launch">Launch</ion-select-option>
          <ion-select-option value="Dinner">Dinner</ion-select-option>
        </ion-select>
      </ion-item> 
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="s"> 
        <ion-icon name="add-circle-outline" slot="end" (click)="table()"></ion-icon>
       </div>
      <ion-item>
        <ion-input name="text" [(ngModel)]="tableno" type="number" placeholder="Add Your Table"></ion-input>
    </ion-item>
  <form [formGroup]="form">
  <ion-grid>
      <ion-row color="justify-content-center">
          <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
                <div class="ion-padding">
                  
                   
                      <br>
    
                
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="s"> 
                     <ion-icon name="add-circle-outline" slot="end" (click)="add()"></ion-icon>
                    </div>
                   
                        <ion-item>
                            <ion-input name="firstname" formControlName="dish"  type="text" placeholder="Enter your Dish"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-input name="text" formControlName="price" type="text" placeholder="Enter your Price"></ion-input>
                        </ion-item>
                        </div>
                        
          </ion-col>
      </ion-row>
  </ion-grid>
  <ion-button size="large" [disabled]="form.invalid" (click)="addNew()" color="primary" type="submit"
            expand="block">SAVE ! &nbsp;
            <ion-spinner *ngIf="loading">
            </ion-spinner>
          </ion-button>
</form>
</ion-content>