<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="addresturant"></ion-back-button>
    </ion-buttons>
    <ion-button slot="end" (click)="table()" color="success">
      Update Table
     </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Select MENU</ion-label>
        <ion-select [(ngModel)]="menutype" type="text"  okText="Okay" cancelText="Dismiss">
          <ion-select-option value="breakfast">BreakFast</ion-select-option>
          <ion-select-option value="launch">Launch</ion-select-option>
          <ion-select-option value="dinner">Dinner</ion-select-option>
        </ion-select>
      </ion-item> 
      <br>
      <br>
      <br>
      <h3 *ngIf="MENU">
      <ion-card class="ion-text-lg-cente">
        <ion-card-header>
         <ion-card-title  class="ion-text-lg-center">Breakfast</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngFor="let data of brk; let i = index ">
          
          <ion-list>
            <ion-text class="color">
              dish: {{data.dish}}
            </ion-text>
        
           <br>
           <ion-text class="color">
            price: {{data.price}}
          </ion-text>
          
          <ion-button fill="clear" (click)="delete(data,i)">
            <ion-icon name="trash" slot="end"></ion-icon>
          </ion-button>
          <ion-button (click)="Edit(data,i)" fill="clear">
            <ion-icon name="create" slot="end"></ion-icon>
          </ion-button>
          </ion-list>        
        </ion-card-content>
      
      </ion-card> 
    </h3>
      <br>
      <br>
      <br>
      <h3 *ngIf="MENU">
      <ion-card class="ion-text-lg-cente">
        <ion-card-header>
         <ion-card-title  class="ion-text-lg-center">Launch</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngFor="let data of lan; let i = index">
          <ion-list>
            <ion-text class="color">
              dish: {{data.dish}}
            </ion-text>
         
           <br>
           <ion-text class="color">
            price: {{data.price}}
          </ion-text>
          
          <ion-button fill="clear" (click)="delete(data,i)">
            <ion-icon name="trash" slot="end"></ion-icon>
          </ion-button>
          <ion-button (click)="Edit(data,i)" fill="clear">
            <ion-icon name="create" slot="end"></ion-icon>
          </ion-button>
          </ion-list>        
        </ion-card-content>
      </ion-card> 
    </h3>
      <br>
      <br>
      <br>
      <h3 *ngIf="MENU">
      <ion-card class="ion-text-lg-cente">
        <ion-card-header>
         <ion-card-title  class="ion-text-lg-center">Dinner</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngFor="let data of dinn; let i = index">
          <ion-list>
            <ion-text class="color">
              dish: {{data.dish}}
            </ion-text>
         

           <br>
           <ion-text class="color">
            price: {{data.price}}
          </ion-text>
          
          <ion-button fill="clear" (click)="delete(data,i)">
            <ion-icon name="trash" slot="end"></ion-icon>
          </ion-button>
          <ion-button (click)="Edit(data,i)" fill="clear">
            <ion-icon name="create" slot="end"></ion-icon>
          </ion-button>
          </ion-list>        
        </ion-card-content>
        
      </ion-card> 
    </h3>





            <!-- menu reviewwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww -->







    <h3 *ngIf="!MENU">
      <ion-card class="ion-text-lg-cente">
        <ion-card-header>
         <ion-card-title  class="ion-text-lg-center">Breakfast</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngFor="let data of breakfast; let i = index">
          
          <ion-list>
            <ion-text class="color">
              dish: {{data.dish}}
            </ion-text>
        
           <br>
           <ion-text class="color">
            price: {{data.price}}
          </ion-text>
          <ion-button fill="clear" (click)="del(data,i)">
            <ion-icon name="trash" slot="end"></ion-icon>
          </ion-button>
          </ion-list>        
        </ion-card-content>
      
      </ion-card> 
    </h3>
    
      <br>
      <br>
      <br>
      <h3 *ngIf="!MENU">
      <ion-card class="ion-text-lg-cente">
        <ion-card-header>
         <ion-card-title  class="ion-text-lg-center">Launch</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngFor="let data of launch; let i = index">
          <ion-list>
            <ion-text class="color">
              dish: {{data.dish}}
            </ion-text>
         
           <br>
           <ion-text class="color">
            price: {{data.price}}
          </ion-text>
          <ion-button fill="clear" (click)="del(data,i)">
            <ion-icon name="trash" slot="end"></ion-icon>
          </ion-button>
         
          </ion-list>        
        </ion-card-content>
      </ion-card> 
    </h3>
      <br>
      <br>
      <br>
      <h3 *ngIf="!MENU">
      <ion-card class="ion-text-lg-cente">
        <ion-card-header>
         <ion-card-title  class="ion-text-lg-center">Dinner</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngFor="let data of dinner; let i = index">
          <ion-list>
            <ion-text class="color">
              dish: {{data.dish}}
            </ion-text>
         

           <br>
           <ion-text class="color">
            price: {{data.price}}
          </ion-text>
          <ion-button fill="clear" (click)="del(data,i)">
            <ion-icon name="trash" slot="end"></ion-icon>
          </ion-button>
          
          </ion-list>        
        </ion-card-content>
        
      </ion-card>
    </h3> 
  
   



<!-- Munu reviewwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww -->








    
  <form [formGroup]="form">
  <ion-grid>
      <ion-row color="justify-content-center">
          <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
                <div class="ion-padding">
                        <ion-label class="text">MENU</ion-label>
                       <br>
                        <ion-item>
                            <ion-input name="firstname" formControlName="dish"   type="text" minLength="1"  placeholder="Dish"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-input name="text" formControlName="price" type="tel" minLength="2" maxLength="5" placeholder=" Price"></ion-input>
                        </ion-item>
                        <h3 *ngIf="MENU">
                        <ion-button  (click)="update()" color="success">
                          Add New menu
                         </ion-button>
                        </h3>
                        <h3 *ngIf="MENU">
                          <ion-button  (click)="EDITT()" color="success">
                            Update menu
                           </ion-button>
                          </h3>
                        <h3 *ngIf="!MENU">
                        <div class="s"> 
                          <ion-icon name="add-circle-outline" slot="end" (click)="add()"></ion-icon>
                         </div>
                        </h3>
                        </div>
          </ion-col>
          </ion-row>
           </ion-grid>
           <h3 *ngIf="!MENU">
           <ion-button size="large"  (click)="save()" color="primary" type="submit"
            expand="block">SAVE ! &nbsp;
            <ion-spinner *ngIf="loading">
            </ion-spinner>
          </ion-button>
        </h3>
      
</form>
</ion-content>