<ion-content>
  <ion-button  (click)="update()" color="success">
    Update menu
   </ion-button>
    <ion-item>
        <ion-label>Select MENU</ion-label>
        <ion-select [(ngModel)]="menutype" type="text"  okText="Okay" cancelText="Dismiss">
          <ion-select-option value="BreakFast">BreakFast</ion-select-option>
          <ion-select-option value="Launch">Launch</ion-select-option>
          <ion-select-option value="Dinner">Dinner</ion-select-option>
        </ion-select>
      </ion-item> 
      <br>
      <!-- <ion-card class="welcome-card">
        <ion-img src="\assets\table.webp"></ion-img>
      </ion-card> -->
  <form [formGroup]="form">
  <ion-grid>
      <ion-row color="justify-content-center">
          <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
                <div class="ion-padding">

        
                  <ion-item>
                    <ion-input name="text" formControlName="tableno" type="tel"  minLength="1" maxLength="2" placeholder="Table No"></ion-input>
                </ion-item>
                
                 <ion-item>
                 <ion-label>Table type</ion-label>
                          <ion-select formControlName="type" type="text"   okText="Okay" cancelText="Dismiss">
                            <ion-select-option value="family">family</ion-select-option>
                            <ion-select-option value="outdoor">outdoor</ion-select-option>
                            <ion-select-option value="bachelor">bachelor</ion-select-option>
                          </ion-select>
                        </ion-item>
                         <ion-item>
                          <ion-label>Table capacity</ion-label>
                          <ion-select formControlName="capacity" type="text"   okText="Okay" cancelText="Dismiss">
                            <ion-select-option value="1">1</ion-select-option>
                            <ion-select-option value="2">2</ion-select-option>
                            <ion-select-option value="3">3</ion-select-option>
                            <ion-select-option value="4">4</ion-select-option>
                            <ion-select-option value="5">5</ion-select-option>
                            <ion-select-option value="6">6</ion-select-option>
                            <ion-select-option value="7">7</ion-select-option>
                            <ion-select-option value="8">8</ion-select-option>
                            <ion-select-option value="9">9</ion-select-option>
                            <ion-select-option value="10">10</ion-select-option>
                          </ion-select>
                        </ion-item>
                        <div class="s"> 
                          <ion-title class="ion-text-center">Add</ion-title>
                          <ion-icon name="add-circle-outline" slot="end" (click)="table()"></ion-icon>
                         </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <ion-label class="text">MENU</ion-label>
                       <br>
                       <br>
                    <div class="s"> 
                     <ion-icon name="add-circle-outline" slot="end" (click)="add()"></ion-icon>
                    </div>
                   
                        <ion-item>
                            <ion-input name="firstname" formControlName="dish"  type="text" minLength="4" maxLength="7" placeholder="Dish"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-input name="text" formControlName="price" type="text" placeholder=" Price"></ion-input>
                        </ion-item>
                        </div>
                        
          </ion-col>
      </ion-row>
  </ion-grid>
  <ion-button size="large"  (click)="save()" color="primary" type="submit"
            expand="block">SAVE ! &nbsp;
            <ion-spinner *ngIf="loading">
            </ion-spinner>
          </ion-button>
</form>


</ion-content>