<ion-header color="primary">
  <ion-buttons slot="start">
    <ion-back-button  defaultHref="clientcategory"></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-searchbar #myInput placeholder="Search..."  (input)="filterItem(myInput.value)"></ion-searchbar>

          <ion-list>
        <ion-item *ngFor="let resturant of filteredHalls">
          <h1 *ngIf="loc=='city'"> 
        
          <ion-button (click)="openEditPopup(resturant)" fill="clear">
            {{resturant.city}}
            </ion-button>
          
          </h1>
          <h1 *ngIf="loc=='name'">
            
             <ion-button (click)="openEditPopup(resturant)" fill="clear">
              {{resturant.name}}
             </ion-button>
         </h1>
         <h1 *ngIf="loc=='location'">
           
             <ion-button (click)="openEditPopup(resturant)" fill="clear">
              {{resturant.Location}}
               </ion-button>
          
       </h1>
         
        </ion-item>
       </ion-list>
  </ion-toolbar>
</ion-header>
<ion-content>
   <ion-item id='parent' >
    <ion-label>Searching</ion-label>
       <ion-select [(ngModel)]="loc"  type="text"  okText="Okay" cancelText="Dismiss">
         <ion-select-option value="city">Search city</ion-select-option>
         <ion-select-option value="location">Search location</ion-select-option>
         <ion-select-option value="name">Search name</ion-select-option>
       </ion-select>
     </ion-item>
</ion-content>

