// ion-content.background{
//     --background: url(../../assets/icon/records1.jpg) 0 0/100% 100% no-repeat;
// }

ion-content{

    --ion-background-color:rgb(172, 172, 177);
}
.ion-text-lg-cente
{
    width:60%; // adjust width on your ion-card suitable on your screen
    display:block;
    margin: 0 auto;
    position: relative;
    --background: linear-gradient(180deg, rgb(233, 145, 145), rgb(168, 168, 76));
}