<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="showtable"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Reservation</ion-title>
    
  </ion-toolbar>
</ion-header>



  
  <!-- <ion-button (click)="Rooms()" >Roooms</ion-button> -->
  
<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row color="justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <ion-item>
            <ion-input name="firstname" type="text" formControlName="name" type="name" placeholder="enter your name"></ion-input>
          </ion-item>
          <label igxLabel for="firstname">Party Size:</label> 
          <br>
          <ion-item>
            <ion-input name="text" readonly type = "text" formControlName ="capacity" type="text" ></ion-input>
          </ion-item>
          <label igxLabel for="firstname">Party Type:</label> 
              <br>
          
          <ion-item>
            <ion-input name="text" readonly type = "text" formControlName ="type" type="text" ></ion-input>
          </ion-item>

            <ion-item>
              <ion-label>Date</ion-label>
                <ion-datetime formControlName="date" date="dd-MM-yyyy" ></ion-datetime>
               </ion-item>
        <br>
        <ion-item>
          <ion-label>Time</ion-label>
          <ion-select formControlName="time" type="text"   okText="Okay" cancelText="Cancel">
            <ion-select-option value="6:30 AM">6:30 AM</ion-select-option>
            <ion-select-option value="7:00 AM">7:00 AM</ion-select-option>
            <ion-select-option value="7:30 AM">7:30 AM</ion-select-option>
            <ion-select-option value="8:00 AM">8:00 AM</ion-select-option>
            <ion-select-option value="8:30 AM">8:30 PM</ion-select-option>
            <ion-select-option value="9:00 AM">9:00 PM</ion-select-option>
            <ion-select-option value="9:30 AM">9:30 PM</ion-select-option>
            <ion-select-option value="10:00 AM">10:00 PM</ion-select-option>
            <ion-select-option value="10:30 AM">10:30 PM</ion-select-option>
            <ion-select-option value="11:00 AM">11:00 PM</ion-select-option>
          </ion-select>

          
        </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
  <br>
  
  <!-- <ion-list>
  <ion-item *ngFor="let tables of seltable">
    
    <ion-checkbox color="primary"  [(ngModel)]="tables.checked" ></ion-checkbox>
    
  </ion-item>
</ion-list> -->


<div class="ion-padding">
  <ion-button size="large" (click)="addNew()" [disabled]="form.invalid" color="primary" type="submit" expand="block">Book
  </ion-button>
</div>

</ion-content>