<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Reservation</ion-title>
    <!-- <ion-button slot="end" href="/addservice" color="success">
      Your Review 
    </ion-button> -->
  </ion-toolbar>
</ion-header>



  
  <!-- <ion-button (click)="Rooms()" >Roooms</ion-button> -->
  
<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row color="justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">

          <div class="ion-padding">
            <ion-item>
              <ion-label>check in</ion-label>
                <ion-datetime formControlName="checkin" ></ion-datetime>
               </ion-item> 
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
  <br>
  <!-- <ion-button expand='block' margin (click)=" Encode()">Click to Create QR</ion-button>
    <ion-button expand='block' margin (click)="Scan()">Click to Scan QR</ion-button> -->
  <ion-button (click)="booked()" fill="clear">Select Table</ion-button>
  <ion-list>
  <ion-item *ngFor="let tables of table">
    
    <ion-checkbox color="primary"  [(ngModel)]="tables.checked" ></ion-checkbox>
    
  </ion-item>
</ion-list>

<div class="ion-padding">
  <ion-button size="large" (click)="addNew()" color="primary" type="submit" expand="block">Book
  </ion-button>
</div>

</ion-content>