<ion-header>
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="books"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Add Services</ion-title>
    </ion-toolbar>
  </ion-header>
  

 

  <ion-content text-justify="top">
      <ion-card class="welcome-card">
          <ion-img src="/assets/fl.png"></ion-img>
        </ion-card>

        
    <form [formGroup]="form">
      <ion-grid>
        <ion-row color="justify-content-center">
          <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
            <div class="ion-text-center">
              <h3 *ngIf="!data">add Flat</h3>
              <h3 *ngIf="data">Edit Flat</h3>
            </div>
            <div class="ion-padding">
             

              <ion-item>
                  <ion-input name="firstname" formControlName="name" type="text" placeholder="Enter property name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Rooms</ion-label>
                <ion-select formControlName="rooms" type="text"   okText="Okay" cancelText="Dismiss">
                  <ion-select-option value="1">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                  <ion-select-option value="3">3</ion-select-option>
                  <ion-select-option value="4">4</ion-select-option>
                  <ion-select-option value="5">5</ion-select-option>
                  <ion-select-option value="6">6</ion-select-option>
                  <ion-select-option value="7">7</ion-select-option>
                  <ion-select-option value="8">8</ion-select-option>
                  <ion-select-option value="9">9</ion-select-option>
                  <ion-select-option value="10">10</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-input name="text" formControlName="amount" type="text" placeholder="Enter Rent per MOnth"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="text" formControlName="number" type="tel"  minLength="11" maxLength="11" placeholder="Contact "></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="email" formControlName="email" type="email" placeholder="your@email.com"></ion-input>
              </ion-item>
              <br>
              <ion-row >
                <ion-col siz-sm="3" offset-sm="3">
               <app-location-picker  (locationPick)="onLocationPicked($event)"></app-location-picker>
                </ion-col>
              </ion-row>
              <ion-item>
                <ion-input name="text" readonly type="text" formControlName="Location" type="text" placeholder=" Location"></ion-input>
              </ion-item>
  
              <ion-item>
                   <ion-input name="text" readonly type="text" formControlName="city" type="text" placeholder=" City"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-textarea rows="5" cols="5" formControlName="about" type="text" placeholder="About Flat..."></ion-textarea>
                </ion-item>
                  
              <ion-item>
                <ion-input  type="text" readonly type="text" placeholder=" w'll charge for this service 5%"></ion-input>
                I agree <ion-checkbox formControlName="check" color="primary"  ></ion-checkbox>
                </ion-item>
              
          
            </div>
           
            <br> 
            <br>
            <br>
            <br>

            
            <div class="ion-padding">
              <input type="file"  formControlName="images"  multiple (change)="selectMultipleImage($event)" />
              <h3 *ngIf="dat">
              <ion-button size="meduim"    (click)="onMultipleSubmit()" color="primary" type="submit"
              expand="block">Image Upload
            </ion-button>
          </h3>
          </div>
          
            <div class="ion-padding">
              <h3 *ngIf="!data">
                <ion-button size="large" [disabled]="form.invalid" (click)="addNew()" color="primary" type="submit"
                expand="block">SAVE ! &nbsp;
                <ion-spinner *ngIf="loading">
                </ion-spinner>
              </ion-button>
            </h3>
    
            <h3 *ngIf="data">
              <ion-button size="large"  (click)="updateBook()" color="primary" type="submit"
              expand="block">SAVE ! &nbsp;
              <ion-spinner *ngIf="loading">
              </ion-spinner>
            </ion-button>
          </h3>
              

            
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

  </ion-content>
  