<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="books"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Add Services</ion-title>
    </ion-toolbar>
  </ion-header>
  

 

  <ion-content text-justify="top">
      <ion-card class="welcome-card">
          <ion-img src="/assets/fl.png"></ion-img>
        </ion-card>

        <br>
        <div class="s"> 
          <ion-icon name="add-circle-outline" slot="end" (click)="facility()"></ion-icon>
         </div>
        <ion-item>
          <ion-input name="text" [(ngModel)]="faci" type="text"  placeholder="faciliteis"></ion-input>
      </ion-item>
    <form [formGroup]="form">
      <ion-grid>
        <ion-row color="justify-content-center">
          <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
            <div class="ion-text-center">
              <h3 *ngIf="!data">add Flat</h3>
              <h3 *ngIf="data">Edit Flat</h3>
            </div>
            <div class="ion-padding">
              <!-- <ion-item>
                <ion-label>check in</ion-label>
                <ion-datetime formControlName="checkin"></ion-datetime>
              </ion-item> 
            
            -->

              <ion-item>
                  <ion-input name="firstname" formControlName="name" type="text" placeholder="Enter property name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="text" formControlName="amount" type="text" placeholder="Enter Rent per MOnth"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="text" formControlName="number" type="number" placeholder="Contact "></ion-input>
              </ion-item>
              <br>
              <ion-row >
                <ion-col siz-sm="3" offset-sm="3">
               <app-location-picker  (locationPick)="onLocationPicked($event)"></app-location-picker>
                </ion-col>
              </ion-row>
              <ion-item>
                <ion-input name="text" formControlName="Location" type="text" placeholder="Enter location"></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-label>City</ion-label>
                <ion-select formControlName="city" type="text"   okText="Okay" cancelText="Dismiss">
                  <ion-select-option value="Islamabad">Islamabad</ion-select-option>
                  <ion-select-option value="Lahore">Lahore</ion-select-option>
                  <ion-select-option value="Karachi">Karachi</ion-select-option>
                  <ion-select-option value="Sargodha">Sargodha</ion-select-option>
                </ion-select>
              </ion-item>
             
              <ion-item>
                <ion-input  type="text" readonly type="text" placeholder=" w'll charge for this service 20%"></ion-input>
                I agree <ion-checkbox formControlName="check" color="primary"  ></ion-checkbox>
                </ion-item>
              
             
              
            </div>
           
        <br>
        <br>
        
            <br>
            <br>

            
            <div class="ion-padding">
              <input type="file"  name="images" multiple (change)="selectMultipleImage($event)" />
              <ion-button size="large"    (click)="onMultipleSubmit()" color="primary" type="submit"
              expand="block">Multiple Image Upload
            </ion-button>
          </div>
          
            <div class="ion-padding">
              <ion-button size="large" [disabled]="form.invalid"  (click)="save()" color="primary" type="submit"
              expand="block">SAVE ! &nbsp;
              <ion-spinner *ngIf="loading">
              </ion-spinner>
            </ion-button>
              

            
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

  </ion-content>
  