ion-content {
    --background: linear-gradient(180deg,  rgb(235, 142, 66), rgb(231, 50, 50));
  }
  ion-toolbar{
    --background: linear-gradient(180deg,  rgb(235, 142, 66), rgb(231, 50, 50));
  }
  ion-item{
    --background: transparent;
  }
  ion-input{
    background-color: transparent;
  }
  ion-card
  {
    --background: linear-gradient(180deg, rgb(231, 50, 50), rgb(235, 142, 66));
  }
  ion-list
  {
    
    background-color: transparent;
  }
  
  .color
  {
     color: black;
  }