<ion-header>
  <ion-toolbar >
    <ion-title class="ion-text-center">Client Profile</ion-title>
  <ion-buttons slot="start">
    <ion-back-button  defaultHref="clientlogin"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>
                              
<ion-content color="">


  <div class="card">
    <div class="header">
      <div class="avatar" *ngFor="let image of images">
      
        
                            
          <img src= {{image}}>
          
        
     
      </div>
    </div>
  </div>
  <form [formGroup]="registerForm">
    <ion-grid>
      <ion-row color="justify-content-center">
          <ion-col size-md="6" offset-md="3">
             
          <div class="ion-padding">


            <ion-item>
              <ion-input name="firstname" readonly type="text" formControlName="firstname" type="name" placeholder="Firstname"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="lastname" readonly type="text" formControlName="lastname" type="name" placeholder="Lastname"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" readonly type="text" formControlName="email" type="email" placeholder="your@email.com"></ion-input>
            </ion-item>
            <br>
            <br>
                             <h1 *ngIf="this.rent">
                              <ion-label>Rented Flats</ion-label>
                             </h1>
                              <ion-card class="ion-text-lg-cente">
                                <ion-card-content *ngFor="let data of dd; let i = index" >
                                  <ion-list>
                                    
                                                <br>
                                                <ion-text class="color">
                                                  Flat Name:  {{data.name}}
                                                </ion-text>
                                               
                                                <br>
                                                <br>
                                                <ion-text class="color">
                                                  Date:  {{data.date}}
                                                </ion-text>
                                  
                                    
                                   
                                   
                                  </ion-list> 
                                      
                                </ion-card-content>
                              </ion-card>

<br> 
<br>              
                                <h1 *ngIf="this.rom">
                               <ion-button   (click)="Scan()">Click to Verify Your  Room </ion-button>
                                 </h1>
                      
                      <ion-card class="ion-text-lg-cente">
                        <ion-card-content *ngFor="let data of this.rom; let i = index">
                          <ion-list>
                            
                                        <br>
                                        <ion-text class="color">
                                          Room No:  {{data.Rooms}}
                                        </ion-text>
                                       
                                        <br>
                                        <br>
                                        <ion-text class="color">
                                        Night stay:  {{data.night}}
                                        </ion-text>
                                        <br>
                                        <br>
                                        <ion-text class="color">
                                          Check-In:  {{data.checkin}}
                                        </ion-text>
                                       
                                        <br>
                                        <br>
                                        <ion-text class="color">
                                          Check-out:  {{data.checkout}}
                                        </ion-text>
                          
                            
                           
                           
                          </ion-list> 
                              
                        </ion-card-content>
                      </ion-card>
<br>
<br>
<br>
<br> 
<br>




            <!-- <ion-item>
               
              <ion-label>Category</ion-label>
              <ion-select formControlName="account" type="text"  okText="Okay" cancelText="Dismiss">
                <ion-select-option value="Hotel">Hotel</ion-select-option>
                <ion-select-option value="Flat">Flat</ion-select-option>
                <ion-select-option value="Resturant">Resturant</ion-select-option>
                <ion-select-option value="hall">Marraige Hall</ion-select-option>
              </ion-select>
            </ion-item> -->

                       <ion-label>Category</ion-label>
            <ion-card class="card">
              <ion-card-header>
               <ion-card-title  class="ion-text-lg-center">Flats</ion-card-title>
              </ion-card-header>
              <ion-card-content class="welcome-card " (click)="flt()">
                  <ion-img src="/assets/fl.png"></ion-img>       
              </ion-card-content>
            </ion-card>
      
            <br>
            <br>
            <br>
            <br>
      
      
            <ion-card class="card">
                <ion-card-header>
                 <ion-card-title  class="ion-text-lg-center">Resturants</ion-card-title>
                </ion-card-header>
                <ion-card-content class="welcome-card "  (click)="rest()">
                    <ion-img class="img" src="/assets/res.jpg"></ion-img>       
                </ion-card-content>
              </ion-card>
      
      
              <br>
              <br>
              <br>
              <br>
        
        
              <ion-card class="card">
                  <ion-card-header>
                   <ion-card-title  class="ion-text-lg-center">Hotels</ion-card-title>
                  </ion-card-header>
                  <ion-card-content class="welcome-card "   (click)="hotel()">
                      <ion-img src="/assets/hotel1.jpg"></ion-img>       
                  </ion-card-content>
                </ion-card>
      
                <br>
                <br>
                <br>
                <br>
      
      
                <ion-card class="card">
                  <ion-card-header>
                   <ion-card-title  class="ion-text-lg-center">Marraige Halls</ion-card-title>
                  </ion-card-header>
                  <ion-card-content class="welcome-card "   (click)="hall()">
                      <ion-img src="/assets/golden.jpg"></ion-img>       
                  </ion-card-content>
                </ion-card>
          </div>
          <!-- <div class="ion-padding">
            <ion-button size="meduim" color="success" type="submit" (click)="Account()" expand="">Search
            </ion-button>
          </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
